{
    "presets": [
      "env",
      "react"
    ],
    "plugins": [
      ["transform-runtime", {
        "helpers": false,
        "polyfill": false,
        "regenerator": true }],
      ["transform-class-properties", { "spec": true }]
    ]
  }